<mat-dialog-content>
  <div *ngIf="actionType === 'decline_action'">
    <h1>
      Decline Request
      <button
        mat-icon-button
        tabindex="-1"
        mat-dialog-close
        style="float: right"
      >
        <mat-icon matSuffix>close</mat-icon>
      </button>
    </h1>
    <ag-grid-angular
      style="height: 250px"
      class="ag-theme-alpine"
      [rowData]="actionsData"
      [columnDefs]="actionsDataColumns"
      rowSelection="multiple"
      sideBar="{toolPanels: ['columns','filters']}"
      [pagination]="true"
      [paginationPageSize]="10"
    >
    </ag-grid-angular>

    <form [formGroup]="addComment">
      <mat-form-field>
        <mat-label>Add Comment here</mat-label>
        <textarea
          matIinput
          formControlName="comment"
          matInput
          type="text"
          required
          placeholder="abc"
        >
        </textarea>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </form>

    <mat-radio-group [(ngModel)]="currentStatus">
      <mat-radio-button *ngFor="let status of statuses" [value]="status">
        {{ status }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="actionType === 'approve_action'">
    <h1>
      Approve Request
      <button
        mat-icon-button
        tabindex="-1"
        mat-dialog-close
        style="float: right"
      >
        <mat-icon matSuffix>close</mat-icon>
      </button>
    </h1>
    <ag-grid-angular
      style="height: 250px"
      class="ag-theme-alpine"
      [rowData]="actionsData"
      [columnDefs]="actionsDataColumns"
      rowSelection="multiple"
      sideBar="{toolPanels: ['columns','filters']}"
      [pagination]="true"
      [paginationPageSize]="10"
    >
    </ag-grid-angular>

    <form [formGroup]="approveRequestForm">
      <div>
        <input
          formControlName="file"
          type="file"
          required
          placeholder="file"
          (change)="onChange($event)"
          required
          multiple
        />
      </div>
    </form>

    <form [formGroup]="addComment">
      <div>
        <mat-form-field>
          <mat-label>Add Comment here</mat-label>
          <textarea
            matIinput
            formControlName="comment"
            matInput
            type="text"
            required
            placeholder="abc"
          >
          </textarea>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <!-- <button class="mat-raised-button" (click)="close()">Close</button> -->
  <button
    *ngIf="actionType === 'decline_action'"
    mat-raised-button
    color="primary"
    (click)="OnDecline()"
    style="float: right"
  >
    Decline
  </button>
  <button
    *ngIf="actionType === 'approve_action'"
    mat-raised-button
    color="primary"
    (click)="OnApprove()"
    style="float: right"
  >
    Approve
  </button>
</mat-dialog-actions>
