<mat-card><mat-card-header ><br><br><mat-card-title>WHY WCE E-DOC SYSTEM?</mat-card-title></mat-card-header><hr><br>
<mat-card><mat-card-content><h4>Secured Digilocker is an advanced application in which file 
storing makes it very efficient and reliable.
Legal document such as Passport, Birth certificate etc. Are very 
important and it can be misused.
Therefore we have developed a system that saves the 
document in an encrypted form and stores it in the internal 
memory.
The main advantage of this system is that it asks for Secure pin 
to access the file.</h4></mat-card-content></mat-card>
<mat-card> <mat-card-header><mat-card-title>MEET THE DEVELOPERS</mat-card-title></mat-card-header><hr></mat-card>
<mat-card>
<header><mat-card-header>
<mat-card-title>Let us know your feedback</mat-card-title></mat-card-header>
  </header><hr>
  <div class="content">
      <mat-card>
    <form>
        <div class="ag-grid">
      <mat-form-field class="col-lg-8">
        <input matInput placeholder="Name" required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field></div>
      <div class="ag-grid">
      <mat-form-field class="col-lg-20">
        <input matInput placeholder="Enter your email" required>
        <mat-icon matSuffix>drafts</mat-icon>
      </mat-form-field></div>
      <div class="ag-grid">
      <mat-form-field class="col-lg-8">
        <input type="tel" matInput placeholder="Contact" required>
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field></div>
      <div class="ag-grid">
      <mat-form-field class="col-lg-8">
        <textarea matInput placeholder="Feedback" required></textarea>
        <mat-icon matSuffix>save</mat-icon>
      </mat-form-field > </div>
      <button mat-raised-button class="btn-custom">Send Now<i class="material-icons">
          send
        </i></button>
    </form></mat-card>

  </div>
  
</mat-card>
