<mat-dialog-content>
  <div *ngIf="actionType === 'view_attachments'">
    <h1>
      View attachments
      <button
        mat-icon-button
        tabindex="-1"
        mat-dialog-close
        style="float: right"
      >
        <mat-icon matSuffix>close</mat-icon>
      </button>
    </h1>

    <mat-card>
      <div class="row">
        <div class="col-md-6">
          <div class="leftside">
            <h2><b>Document name</b></h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rightside">
            <h1><b>Action</b></h1>
          </div>
        </div>
      </div>
      <div *ngFor="let file of DocumentsUploaded; let indexOfelement = index">
        <div class="row" *ngIf="file.name">
          <div class="col-md-6">
            <div class="leftside">
              {{ file.name }}
            </div>
          </div>
          <div class="col-md-6">
            <a href="{{ file.path }}" download target="_blank">Download</a>
          </div>
        </div>
        <br />
      </div>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-actions> </mat-dialog-actions>
