<div *ngIf="!sharedvar.isLoggedIn">
  <mat-card> Forbidden : Please login to access this page </mat-card>
</div>
<div *ngIf="sharedvar.isLoggedIn && !sharedvar.isAdmin">
  <mat-card> You're user. Please login as admin to access this page </mat-card>
</div>
<div *ngIf="sharedvar.isLoggedIn && sharedvar.isAdmin">
  <mat-card>
    <!-- logged in as user : {{sharedvar.isAdmin}} : user/profile -->
    <h1>My Profile</h1>
    <mat-card>
      <div class="row">
        <div class="col-md-6">
          <div class="leftside">Name</div>
        </div>
        <div class="col-md-6">
          <div class="rightside">
            {{ adminInfo.fname }} {{ adminInfo.lname }}
          </div>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-6">
          <div class="leftside">Phone Number</div>
        </div>
        <div class="col-md-6">
          <div class="rightside">{{ adminInfo.phone }}</div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="leftside">Email ID</div>
        </div>
        <div class="col-md-6">
          <div class="rightside">{{ adminInfo.email }}</div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="leftside">Username</div>
        </div>
        <div class="col-md-6">
          <div class="rightside">{{ adminInfo.username }}</div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="leftside">Role</div>
        </div>
        <div class="col-md-6">
          <div class="rightside">Admin</div>
        </div>
      </div>
      <br />
    </mat-card>
  </mat-card>
</div>
