/* .sidenav {
    background: #263238;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 16.54rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #ecbfbf;

}

#highlight, #highlight:hover, #highlight:active, #highlight:focus {
    color://any-color;
    // more css
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
}

.logo {
    background: #fff;
    text-align:center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border:none;
}

.logo-test {
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 200;
    color:aqua;
}
.btn-close {
    margin-left: auto;
    cursor:pointer;
    width:2rem;
    height:2rem;
    border-radius: 5rem;
    background-color: transparent;
    border: none;
}
.fo-times {
    color:aqua;
    font-size: 24px;
} */

mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 230px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
mat-icon {
  margin-right: 8px;
}
.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
