<mat-dialog-content>
  <h1>
    Request Document
    <button mat-icon-button tabindex="-1" mat-dialog-close style="float: right">
      <mat-icon matSuffix>close</mat-icon>
    </button>
  </h1>
  <mat-card>
    <mat-card>
      <form [formGroup]="createRequestForm">
        <div class="ng-grid">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-label>PRN</mat-label>
                <input
                  formControlName="prn"
                  matInput
                  type="text"
                  required
                  [(ngModel)]="userInfo.prn"
                />
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="col-4">
                <mat-label>Document type</mat-label>
                <input
                  formControlName="documentType"
                  matInput
                  type="text"
                  required
                  [(ngModel)]="docType.name"
                />
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="createRequestForm">
            <mat-form-field>
              <mat-label>approval from</mat-label>
              <input
                formControlName="approvalFrom"
                matInput
                type="text"
                required
                [(ngModel)]="docType.sendTo"
              />
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </form>
        </div>
        <div class="col-md-6">
          <form [formGroup]="addComment">
            <div>
              <mat-form-field>
                <mat-label>Add Comment here</mat-label>
                <input
                  matIinput
                  formControlName="comment"
                  matInput
                  type="text"
                  required
                  placeholder="abc"
                />

                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <br />
      <!-- <div *ngFor="let files of docType.requiredDoc"> -->
      <div class="row" *ngIf="docType.requiredDoc.length != 0">
        <div class="col-md-2">
          <div class="leftside">
            {{ docType.requiredDoc }}
          </div>
        </div>
        <div class="col-md-4">
          <input
            id="{{ files }}"
            type="file"
            required
            placeholder="file"
            (change)="onChange($event)"
            required
            multiple
          />
        </div>
      </div>
      <br />
      <!-- </div> -->
    </mat-card>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <!-- <button class="mat-raised-button" (click)="close()">Close</button> -->

  <button
    mat-raised-button
    color="primary"
    (click)="OnEdit()"
    style="float: right"
    [disabled]="checkvalid()"
  >
    Submit Request
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="OnCancel()"
    style="float: right"
  >
    Cancel
  </button>
  <br /><br />
  <div class="alert alert-danger" role="alert" *ngIf="errorFailed">
    Something went wrong. Please provide sufficient data and try again!<mat-icon
      style="float: right"
      (click)="errorFailed = false"
      matSuffix
      >close</mat-icon
    >
  </div>
  <div class="alert alert-success alert-dismissable" *ngIf="successAlert">
    Created new request<mat-icon
      style="float: right"
      (click)="successAlert = false"
      matSuffix
      >close</mat-icon
    >
  </div>
</mat-dialog-actions>
