
<div layout="row" layout-sm="column">
    <div flex class="page-header text-center">
      
    </div>
    
  </div>
  <div layout="row" layout-sm="column">
    <div flex style="margin:10px;">
        
        <div class="md-card-wrapper" ng-app="myapp"><div>
            <mat-card>
                <mat-card-content align="center">
                    <mat-card-title><div class="mat-display-3">WCE E-DOC SYSTEM      
                    </div><mat-card-footer align="end">A one stop solution to fetch your documents!:)</mat-card-footer>
                   </mat-card-title>
                                
                </mat-card-content>
            </mat-card></div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSko0a_D_WLw6MlVP9zYQdCC5DsqismveVEXlxvS47TN-R-4XIAULV_tcKaujISkpm9PVA&usqp=CAU" width="100%" height="100%"/>
            
      
        
    </div>
    
        
        <br />
        <br />
        
      
    </div>
    
    

 

      
    