
<div layout="row" layout-sm="column">
    <div flex class="page-header text-center">
      
    </div>
    
  </div>
  <div layout="row" layout-sm="column">
    <div flex style="margin:10px;">
        <div class="md-card-wrapper" ng-app="myapp"><img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png" width="100%" />
            <div>
              <mat-card>
                  <mat-card-content align="center">
                      <mat-card-title><div class="mat-display-3">WCE E-DOC SYSTEM      
                      </div>
                     <span class="border"></span>
                      <span class="border border-primary"></span>
                      <span class="border border-secondary"></span>
                      <span class="border border-success"></span>
                      <span class="border border-danger"></span>
                      <span class="border border-warning"></span>
                      <span class="border border-info"></span>
                      <span class="border border-light"></span>
                      <span class="border border-dark"></span>
                      <span class="border border-white"></span></mat-card-title>
                                  
                  </mat-card-content>
              </mat-card></div>
      
        <span matBadge="3" matBadgePosition="below before" align="end">Notifications</span>
    </div>
    
        
        <br />
        <br />
        
      
    </div>
    
    

 

      <div class="col-md-6">
        <div class="card card-container" align="center">
          <img  
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
          />
    